section.client
  h2.client__title
    strong Nossos Clientes
  .client__slides
    each _, idx in clients.data
      input(type='radio' name='radio-btn' id=`radio${idx}`)
    each client, idx in clients.data
      .client__slide(class={first: idx === 0})
        img.client__picture(alt=client.attributes.nome src=global.filters.cmsImage(client.attributes.imagem) loading="lazy")
        h3.client__headline
          strong #{client.attributes.nome}
        p.client__par
          strong Serviço: #{''}
          |  #{client.attributes.servicoTipo}
    .client__navigation-auto
      each _, _ in clients.data
        .client__auto-btn
    .client__navigation-manual
      each _, idx in clients.data
        label.client__manual-btn(for=`radio${idx}` class={active: idx === 0})