footer.contacts
  .contacts__information
    img.contacts__logo(alt='Logo' src="/assets/svg/logo_rodape.svg" loading="lazy")
    ul.contacts__list
      li.contacts__headtitle
        strong Institucional
      li.contacts__roll
        a.contacts__link(href='/') Home
      li.contacts__roll
        a.contacts__link(href='/about') Quem somos
      li.contacts__roll
        a.contacts__link(href='/services') Serviços
      li.contacts__roll
        a.contacts__link(href=collections.pages.contato.whatsappLink target='_blank') Contatos
    ul.contacts__list
      li.contacts__headtitle
        strong Serviços
      each service in services.data
        li.contacts__roll
          a.contacts__link(href=`/services/${global.filters.slug(service.attributes.nome)}`) #{service.attributes.nome}
    ul.contacts__list
      li.contacts__headtitle
        strong Contatos
      li.contacts__roll
        a.contacts__link.contacts__link--line(href=collections.pages.contato.whatsappLink target='_blank')
          img.contacts__frame(alt='Número' src="/assets/svg/number.svg" loading="lazy")
          | #{collections.pages.contato.whatsapp}
      li.contacts__roll
        a.contacts__link.contacts__link--line(href=collections.pages.contato.emailLink target='_blank')
          img.contacts__frame(alt='E-mail' src="/assets/svg/email.svg" loading="lazy")
          | #{collections.pages.contato.email}
      li.contacts__roll
        a.contacts__link.contacts__link--line(href=collections.pages.contato.instagramLink target='_blank')
          img.contacts__frame(alt='Instagram' src="/assets/svg/insta.svg" loading="lazy")
          | #{collections.pages.contato.instagram}
      li.contacts__roll
        a.contacts__link.contacts__link--line(href=collections.pages.contato.enderecoLink target='_blank')
          img.contacts__frame(alt='Localização' src="/assets/svg/localization.svg" loading="lazy")
          | #{collections.pages.contato.endereco}
