section.mission
    .mission__legacy
      img.mission__iconframe(alt=collections.pages.sobre.missao src='/assets/svg/mission.svg' loading="lazy")
      h3.mission__text
        b Nossa Missão 
      p.mission__message #{collections.pages.sobre.missao}
    .mission__legacy
      img.mission__iconframe(alt=collections.pages.sobre.valores src='/assets/svg/work.svg' loading="lazy")
      h3.mission__text 
        b Nossos Valores
      p.mission__message #{collections.pages.sobre.valores}
    .mission__legacy
      img.mission__iconframe(alt=collections.pages.sobre.visao src='/assets/svg/values.svg' loading="lazy")
      h3.mission__text 
        b Nossa Visão
      p.mission__message #{collections.pages.sobre.visao}