section.show
  .show__edit
    .show__direction
      each service, idx in services.data
        .show__same(class={show__samecenter: idx === services.data.length - 1})
          img.show__pic(src=global.filters.cmsImage(service.attributes.imagem) loading="lazy")
          .show__backin
            h3.show__subtitle
              strong #{service.attributes.nome.toUpperCase()}
            p.show__indent #{service.attributes.textoIntro}
            each paragraph in service.attributes.texto.split('\n')
              .show__elsep !{global.filters.html(paragraph)}
            a.show__elsep(href=`/services/${global.filters.slug(service.attributes.nome)}`)
              button.show__about_button Saber mais