section.team
  h2.team__heading
    b #{collections.pages.sobre.timeTitulo}
  .team__space
    ul.team__about
      each teamMember in teamMembers.data
        li.team__eclipse
          img.team__portrait(src=global.filters.cmsImage(teamMember.attributes.foto) loading="lazy" alt=teamMember.attributes.nome)
          h3.team__name #{teamMember.attributes.nome}
          p.team__special #{teamMember.attributes.especializacao}